Repository Lubycon/lubycon-ui-kit, pull requests merged in 2021-04, with the labels that each got.

#66 Feat/text mobile
  ui-kit/package.json
  ui-kit/src/components/Accordion/index.tsx
  ui-kit/src/components/Alert/index.tsx
  ui-kit/src/components/Icon/index.tsx
  ui-kit/src/components/Selection/index.tsx
  ui-kit/src/components/Tag/index.tsx
  ui-kit/src/index.ts
  ui-kit/src/sass/components/_Icon.scss
  ui-kit/src/sass/index.scss
  ui-kit/src/sass/utils/_typography.scss
  ui-kit/src/stories/Card.stories.tsx
  ui-kit/src/stories/Icon.stories.tsx
  ui-kit/src/stories/Input.stories.tsx
  ui-kit/src/stories/List.stories.tsx
  ui-kit/src/utils/mediaQuery.ts
Labels: ✨ enhancement

#70 Chore/code highlight
  docs/package.json
  docs/pages/_app.tsx
  docs/src/components/CodeHighlight/index.tsx
  docs/src/pages/GettingStartedPage/index.tsx
  yarn.lock
Labels: 📄 Docs, 🚥 chore

#74 Chore/docs deploy
  .github/workflows/alpha-release-docs.yml
  docs/.babelrc
  docs/.gitignore
  docs/gatsby-browser.js
  docs/gatsby-config.js
  docs/gatsby-hooks/createPages.js
  docs/gatsby-hooks/onCreateNode.js
  docs/gatsby-node.js
  docs/gatsby-ssr.js
  docs/next-env.d.ts
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/getting-started.ts
  docs/pages/index.ts
  docs/scripts/deploy.js
  docs/src/App.tsx
  docs/src/components/GlobalHeader/index.tsx
  docs/src/components/GlobalSidebar/index.tsx
  docs/src/components/SEO.tsx
  docs/src/constants/resources.ts
  docs/src/content/.gitkeep
  docs/src/content/getting-started.mdx
  docs/src/hooks/useSiteMetaData.ts
  docs/src/models/image.ts
  docs/src/models/index.ts
  docs/src/models/site.ts
  docs/src/pages/404.tsx
  docs/src/pages/GettingStartedPage/index.tsx
  docs/src/pages/HomePage/index.tsx
  docs/src/pages/index.tsx
  docs/src/styles/prism-theme.css
  docs/src/templates/page.tsx
  docs/src/typings.d.ts
  docs/static/favicon.ico
  docs/static/robots.txt
  docs/tsconfig.json
  lubycon-ui-kit-docs/.eslintrc.js
  lubycon-ui-kit-docs/CNAME.alpha
  lubycon-ui-kit-docs/CNAME.live
  lubycon-ui-kit-docs/gatsby-browser.js
  lubycon-ui-kit-docs/package.json
  lubycon-ui-kit-docs/scripts/deploy.js
  lubycon-ui-kit-docs/src/components/BasicLayout/index.tsx
  lubycon-ui-kit-docs/src/components/GlobalHeader/index.tsx
  lubycon-ui-kit-docs/src/components/GlobalSidebar/index.tsx
  lubycon-ui-kit-docs/src/components/PostSection/index.tsx
  lubycon-ui-kit-docs/src/constants/menu.ts
  lubycon-ui-kit-docs/src/constants/resources.ts
  lubycon-ui-kit-docs/src/content/.gitkeep
  lubycon-ui-kit-docs/src/utils/menu.ts
  lubycon-ui-kit-docs/src/utils/sample-data.ts
  lubycon-ui-kit-docs/tsconfig.json
  package.json
  yarn.lock
Labels: 📄 Docs

#75 chore(docs): prism theme custom css
  docs/src/styles/prism-theme.css
Labels: 📄 Docs, 🚥 chore

#77 feat(docs): Docs에 Prev, Next 버튼 추가
  .github/CODEOWNERS
  .github/workflows/alpha-release-docs.yml
  docs/gatsby-hooks/createPages.js
  docs/src/content/testPage.mdx
  docs/src/templates/page.tsx
  ui-kit/src/components/Button/index.tsx
Labels: 🐛 bug, 📄 Docs

#78 chore(ui-kit): 시맨틱 버저닝이 제대로 되지 않는 이슈 수정 [skip ci]
  .releaserc.js
Labels: 🐛 bug, 🚥 chore
